<!DOCTYPE html>
<html>
    <head>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../about.css" media="screen,projection"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
        <meta charset="utf-8"/>
        <link rel="icon" href="index.png" type="image/x-icon"/>
    </head>
    <body>
        <nav id="header">
            <div class="nav-wrapper">
              <a href="contact.html" class="right hide-on-med-and-down" id="text">Social</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a id="home" href="index.html">Home</a></li>
                <li><a id="about" href="about.html">About</a></li>
                <li><a id="work" href="work.html">Works</a></li>
                <li><a id="techno" href="techno.html">Technologies</a></li>
              </ul>
            </div>
        </nav>
        <div>
            <div class="container" id="first" >
                <div id="aboutme">
                    <p>I am a programmer and I contribute to make the world even better.</p>
                </div>
                <div id="shorttext">
                    <p> My name is Andrianina Herimandimby, people call me Andrianina.<br><br>
                        Originally hailing from Madagascar, I have always been a technophile since child and decided to pursue Computer Science studies once I got to university. <br><br>
                        I opted for the course of Computer Science, Multimedia,<br>
                        Information and Communication Technologies,(IMTICIA)<br>
                        Artificial Intelligence at the Higher Polytechnic Institute of Madagascar (also known as ISPM)
                        because of my passion for visual and musical art, but also because of my will to deepen
                        my knowledge in telecommunications and I hope to get a job corresponding to my skills in this field later on.<br><br>
                        I have completed several IT projects since my first year at university and consider myself
                        competent enough to complete several tasks of a project entrusted to me.<br>
                    </p>
                    <span>
                        <p>Need a collaborator for a project?</p><a id="letstalk" href="contact.html">Let's talk.</a>
                    </span>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>
