<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../styles/index.css" media="screen,projection"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
        <meta charset="utf-8"/>
        <link rel="icon" href="../index.png" type="image/x-icon"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
    </head>
    <body>
          
        <nav id="header">
            <div class="nav-wrapper">
              <a href="contact.html" class="right hide-on-med-and-down" id="text">Social</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a id="home" href="index.html">Home</a></li>
                <li><a id="about" href="about.html">About</a></li>
                <li><a id="work" href="work.html">Works</a></li>
                <li><a id="techno" href="techno.html">Technologies</a></li>
              </ul>
            </div>
        </nav>
        <div>
            <div class="container" id="first" >
                <div class="image">
                    <div>
                      <div class="column valign-wrapper">
                        <div class="col s2">
                          <img src="../media/me.JPG" id="" class="circle responsive-img"> <!-- notice the "circle" class -->
                        </div>
                      </div>
                    </div>
                  </div>
                <div id="name">
                    <p>
                        Hi, I'm Andrianina.
                    </p>
                </div>
                <div id="aboutme">
                    <p>Developer. Designer.<br>Computer Science Student.</p>
                </div>
                <div id="shorttext">
                    <p> Passionate about technologies and innovations,<br>
                        I am a student in Computer Science and I want to bring my talent<br>
                        to improve the digital world.
                    </p>
                </div>
                <div>
                    <a id="learnmore" href="about.html">Learn more ></a>
                </div>
            </div>
        </div>
    </body>
</html>
