<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../techno.css" media="screen,projection"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
    <meta charset="utf-8"/>
    <link rel="icon" href="../index.png" type="image/x-icon"/>

    <script src="../js/anychart-core.min.js"></script>
    <script src="../js/anychart-pie.min.js"></script> 

  </head>
  <body>

        <nav id="header">
            <div class="nav-wrapper">
              <a href="contact.html" class="right hide-on-med-and-down" id="text">Social</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a id="home" href="index.html">Home</a></li>
                <li><a id="about" href="about.html">About</a></li>
                <li><a id="work" href="work.html">Works</a></li>
                <li><a id="techno" href="techno.html">Technologies</a></li>
              </ul>
            </div>
        </nav>


        <div class="container" id="first" >
            <div id="container"></div>
        </div>
        
         <script>
        anychart.onDocumentReady(function() {

        //données
        var data = [
            {x: "JavaScript", value: 38929319},
            {x: "Pascal", value: 20000265},
            {x: "C#", value: 2932248},
            {x: "Java", value: 14674252},
            {x: "Python", value: 540013},
            {x: "C", value: 19107368},
            {x: "HTML/CSS", value: 9009073}
        ];

        // creation de la charte
        var chart = anychart.pie();

        // titre
        chart.title("Langages I have learned:");

        // ajouter les données
        chart.data(data);

        // mettre la charte dans le container
        chart.container('container');
        chart.draw();
        

        // position
        chart.legend().position("left");
        // disposition des listes
        chart.legend().itemsLayout("vertical");

        // rangement
        chart.sort("desc");
        });
    </script> 
  </body>
</html>
