<!DOCTYPE html>
<html>
    <head>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../work.css" media="screen,projection"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
        <meta charset="utf-8"/>
        <link rel="icon" href="../index.png" type="image/x-icon"/>
    </head>
    <body>
        <nav id="header">
            <div class="nav-wrapper">
              <a href="contact.html" class="right hide-on-med-and-down" id="text">Social</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a id="home" href="index.html">Home</a></li>
                <li><a id="about" href="about.html">About</a></li>
                <li><a id="work" href="work.html">Works</a></li>
                <li><a id="techno" href="techno.html">Technologies</a></li>
              </ul>
            </div>
        </nav>
        <div>
            <div class="container" id="first" >
                
                <div class="col s12 m7">
                  <h2 class="header" id="title">Fantaro</h2>
                  <div class="card horizontal" id="card">
                    <div class="card-image">
                      <img src="../cs.jpg" id="pic">
                    </div>
                    <div class="card-stacked">
                      <div class="card-content">
                        <p id="txt">This is the first IT project that I have made with my school team. It is an android application which consists in educating the young people nowadays on several subjects concerning Madagascar and many other topics concerning the current society.
                        </p>
                      </div>
                      <div class="card-action">
                        <a href="#" id="link">See the project> </a>
                      </div>
                    </div>
                  </div>
                </div>
            
                <div class="col s12 m7">
                  <h2 class="header" id="title">Gaf'Gas</h2>
                  <div class="card horizontal" id="card">
                    <div class="card-image">
                      <img src="../cs.jpg" id="pic">
                    </div>
                    <div class="card-stacked">
                      <div class="card-content">
                        <p id="txt">A racing game that we built for our second year school project.
                        </p>
                      </div>
                      <div class="card-action">
                        <a href="#" id="link">See the project> </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col s12 m7">
                  <h2 class="header" id="title">MusicService</h2>
                  <div class="card horizontal" id="card">
                    <div class="card-image">
                      <img src="../cs.jpg" id="pic">
                    </div>
                    <div class="card-stacked">
                      <div class="card-content">
                        <p id="txt">A streaming platform that I have built as an example of a MERISE project.
                        </p>
                      </div>
                      <div class="card-action">
                        <a href="#" id="link">See the project> </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col s12 m7">
                  <h2 class="header" id="title">To-Do List</h2>
                  <div class="card horizontal" id="card">
                    <div class="card-image">
                      <img src="../cs.jpg" id="pic">
                    </div>
                    <div class="card-stacked">
                      <div class="card-content">
                        <p id="txt">A tiny app that I have created on my own to improve my skills and learn new technologies.
                        </p>
                      </div>
                      <div class="card-action">
                        <a href="#" id="link">See the project> </a>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col s12 m7">
                  <h2 class="header" id="title">AI Composer</h2>
                  <div class="card horizontal" id="card">
                    <div class="card-image">
                      <img src="../cs.jpg" id="pic">
                    </div>
                    <div class="card-stacked">
                      <div class="card-content">
                        <p id="txt">AI Composer is a software which is based on an artificial intelligence algorithm that generates music. 
                          This project is currently underway.
                        </p>
                      </div>
                      <div class="card-action">
                        <a href="#" id="link">See the project> </a>
                      </div>
                    </div>
                  </div>
                </div>

                <p id="shorttext">According to these few projects that I have made,<br> 
                  <a href="techno.html" id="here">Here</a> are a list of all the technologies that I have learned over the years.</p>
            </div>
        </div>
    </body>
</html>
