<!DOCTYPE html>
<html>
    <head>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../work.css" media="screen,projection"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
        <meta charset="utf-8"/>
        <link rel="icon" href="../index.png" type="image/x-icon"/>
    </head>
    <body>
        <nav id="header">
            <div class="nav-wrapper">
              <a href="#" class="right hide-on-med-and-down" id="text">Contact</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a id="home" href="index.html">Home</a></li>
                <li><a id="about" href="about.html">About</a></li>
                <li><a id="work" href="work.html">Work</a></li>
                <li><a id="hobbies" href="">Hobbies</a></li>
              </ul>
            </div>
        </nav>
        <div>
            <div class="container" id="first" >
                
            </div>
        </div>
      <script type="text/javascript" src="../index.js"></script>
    </body>
</html>
